{% load static %}
<div class="v5-footer">
    <div class="container">
      <div class="v5-footer-container">
        <div class="v5-footer-links cf">
          <dl class="f-link">
            <dt>友情链接</dt>
            <dd>
              <ul>
                <li class="cf">
                    {% for link in links %}
                    <a href="{{ link.callback_url }}">{{ link.title }}</a><span>|</span>
                    {% endfor %}
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="follow">
            <dt>关注我们</dt>
            <dd>
              <ul>
                <li><a href="http://weibo.com/microoh"><span class="sina"></span>新浪微博</a></li>
                <li id="wechat"><a href="javascript:void(0)"><span class="weixin"></span>官方微信</a></li>
                <li><a href="http://weibo.com/microoh"><span class="qq"></span>腾讯微博</a></li>
              </ul>
            </dd>
          </dl>
          <dl class="webmap">
            <dt>网站导航</dt>
            <dd>
              <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="common/about">关于我们</a></li>
                <li><a href="common/contact">联系我们</a></li>
                <li><a href="feedback/publish">意见反馈</a></li>
              </ul>
            </dd>
          </dl>
        <div id="wechatimg"> <img style="position: absolute;top: 60px; right: 50px;" src="{% static 'images/weichat_code.png' %}"></div>
        </div>

        <div class="v5-footer-bottom">
          <p>© 2012-2014 maiziedu.com | 服务条款 | 蜀ICP备13014270号-4 Version 4.0.1 release20140721.1</p>
        </div>
      </div>
    </div>
</div>
