{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}麦子学院{% endblock %}
{% block keywords%}IT在线教育,IT职业教育,IT培训,IT职业课程,IT职业学习,麦子学院{% endblock %}
{% block description%}麦子学院专注于IT在线职业教育,这里有超过5000+的实名学员,有硅谷IT名师参与录制的Android、ios、cocos2d-x开发等IT职业课程,导师在线辅导和保薪就业,更有站内IT精英实名社区,学IT就上麦子学院。{% endblock %}
{% block header %}
{% include 'common/header.html' %}
{% endblock %}
{% block container %}
{% include 'common/ad.html' %}
<div class="v5-index-main">
    {% include 'common/course.html' %}
    {% include 'common/teacher.html' %}
    {% include 'common/read.html' %}
    {% include 'common/parnership.html' %}
</div>
{% endblock %}
{% block footer%}
    {% include 'common/footer.html' %}
{% endblock %}