{% extends "common/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block header %}
<header class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="64">
{% endblock %}
{% block container %}
{% include 'common/ad.html' %}
<div class="v5-index-main">
    {% include 'common/course.html' %}
    {% include 'common/teacher.html' %}
    {% include 'common/read.html' %}
    {% include 'common/parnership.html' %}
</div>
{% endblock %}
{% block footer%}
    {% include 'common/footer.html' %}
{% endblock %}