{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}麦子学院{% endblock %}
{% block keywords%}IT在线教育,IT职业教育,IT培训,IT职业课程,IT职业学习,麦子学院{% endblock %}
{% block description%}麦子学院专注于IT在线职业教育,这里有超过5000+的实名学员,有硅谷IT名师参与录制的Android、ios、cocos2d-x开发等IT职业课程,导师在线辅导和保薪就业,更有站内IT精英实名社区,学IT就上麦子学院。{% endblock %}
{% block header %}
{% include 'common/header.html' %}
{% endblock %}
{% block container %}
{% include 'common/ad.html' %}
<div class="v5-index-main">
    <div class="v5-titline"></div>
    <div class="container">
      <div class="v5-recommend">
        <div class="v5-tabs-box" id="v5-tabs">
          <ul class="v5-tabs" id="v5-tabs" role="tablist">
            <li class="active"><a href="#new" class="is-active" role="tab" data-toggle="tab">最新课程</a></li>
            <li><a href="#most" role="tab" data-toggle="tab">最多播放</a></li>
            <li><a href="#hot" role="tab" data-toggle="tab">最具人气</a></li>
          </ul>
          <div class="tabs-container tab-content">
            <div class="v5-course-item tab-pane fade in active" id="new" data-holder="holdernew">
              <div class="page-item">
                <ul class="row course-list-index">
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  <div class="col-sm-12 v5-pages-list">
                    <ul class="row fr">
                      <li><a href="" class="v5-icon v5-icon-prev"></a></li>
                      <li><a href="" class="page-num active">1</a></li>
                      <li><a href="" class="page-num">2</a></li>
                      <li><a href="" class="page-num">3</a></li>
                      <li><a href="" class="page-num">4</a></li>
                      <li><a href="" class="page-num">5</a></li>
                      <li><a href="" class="v5-icon v5-icon-next"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="v5-course-item tab-pane fade" id="most" data-holder="holdermost">
            	<div class="page-item">
                <ul class="row course-list-index">
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  <div class="col-sm-12 v5-pages-list">
                    <ul class="row fr">
                      <li><a href="" class="v5-icon v5-icon-prev"></a></li>
                      <li><a href="" class="page-num active">1</a></li>
                      <li><a href="" class="page-num">2</a></li>
                      <li><a href="" class="page-num">3</a></li>
                      <li><a href="" class="page-num">4</a></li>
                      <li><a href="" class="page-num">5</a></li>
                      <li><a href="" class="v5-icon v5-icon-next"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="v5-course-item tab-pane fade" id="hot" data-holder="holderhot">
              <div class="page-item">
                <ul class="row course-list-index">
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                  <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <a href="">
                      <dl>
                        <dt>
                          <div><img src="{% static 'test/17.jpg' %}"></div>
                        </dt>
                        <dd>
                          <span>IO8 APP开发快速入门</span>
                          <p>1850人正在学习</p>
                        </dd>
                      </dl>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="page-bg-w">
                <div class="row v5-pages">
                  <div class="col-sm-12 v5-pages-list">
                    <ul class="row fr">
                      <li><a href="" class="v5-icon v5-icon-prev"></a></li>
                      <li><a href="" class="page-num active">1</a></li>
                      <li><a href="" class="page-num">2</a></li>
                      <li><a href="" class="page-num">3</a></li>
                      <li><a href="" class="page-num">4</a></li>
                      <li><a href="" class="page-num">5</a></li>
                      <li><a href="" class="v5-icon v5-icon-next"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'common/teacher.html' %}
    {% include 'common/read.html' %}
    {% include 'common/parnership.html' %}
  </div>
{% endblock %}
{% block footer%}
<div class="v5-footer">
    <div class="container">
      <div class="v5-footer-container">
        <div class="v5-footer-links cf">
          <dl class="f-link">
            <dt>友情链接</dt>
            <dd>
              <ul>
                <li class="cf">
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                  <a href="">文档转换网</a><span>|</span>
                  <a href="">浪曦IT视频</a><span>|</span>
                  <a href="">自主学习网</a><span>|</span>
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                  <a href="">浪曦IT视频</a><span>|</span>
                  <a href="">自主学习网</a><span>|</span>
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                </li>
                <li class="cf">
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                  <a href="">文档转换网</a><span>|</span>
                  <a href="">浪曦IT视频</a><span>|</span>
                  <a href="">自主学习网</a><span>|</span>
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                  <a href="">浪曦IT视频</a><span>|</span>
                  <a href="">自主学习网</a><span>|</span>
                  <a href="">网易云课堂</a><span>|</span>
                  <a href="">腾讯课堂</a><span>|</span>
                  <a href="">微信营销</a><span>|</span>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="follow">
            <dt>关注我们</dt>
            <dd>
              <ul>
                <li><a href=""><span class="sina"></span>新浪微博</a></li>
                <li><a href=""><span class="weixin"></span>官方微信</a></li>
                <li><a href=""><span class="qq"></span>腾讯微博</a></li>
              </ul>
            </dd>
          </dl>
          <dl class="webmap">
            <dt>网站导航</dt>
            <dd>
              <ul>
                <li><a href="">网站首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">意见反馈</a></li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="v5-footer-bottom">
          <p>© 2012-2014 maiziedu.com | 服务条款 | 蜀ICP备13014270号-4 Version 4.0.1 release20140721.1</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}