{% load static %}
<div class="v5-titline">
      <div class="container">
        <h1>名师风采</h1>
      </div>
    </div>
    <div class="container">
      <div class="tc-list">
        <a id="prev" class="prev" href="#"></a>
        <div class="tc-list-w">
          <ul id="foo" class="cf">
              {% for t in teacher %}
            <li>
              <dl>
                <dt><a href="teacher/{{ t.id }}" style="border-left-color:#00A388;"><img src="{{ MEDIA_URL }}{{ t.avatar_middle_thumbnall }} "></a></dt>
                <dd>
{#                调用实例方法#}
                  <h2>{{ t.get_full_name }}</h2>
                  <h3>{{ t.username }}</h3>
                </dd>
              </dl>
            </li>
              {% endfor %}

          </ul>
        </div>
        <a id="next" class="next" href="#"></a>
      </div>
    </div>