{% extends "common/base.html" %}
{% load staticfiles %}
{% block title %}他的课程-老师{% endblock %}
{% block keywords %}课程{% endblock %}
{% block description %}老师的课程{% endblock %}
{% block header %}
    <header class="navbar navbar-default navbar-fixed-top navbar-v5" data-spy="affix" data-offset-top="64">
{% endblock %}
{% block container %}
  <div class="container-fluid container-banner container-banner-a">
    <div class="container container-uinfo">
      <div class="header-uinfo">
        <div class="uinfo-head"><img src="{{ MEDIA_URL }}{{ teacher.avatar_middle_thumbnall }} "></div>
        <div class="uinfo-con">
          <p>{{ teacher.username }}</p>
          <p>{{ teacher.position }}</p>
          <p>简介：{{ teacher.description }}</p>
        </div>
      </div>
    </div>
  </div>
    <div class="container uc-boxb">
        <div class="uc-h1">他的课程</div>
    <ul class="row my-course">
        {% for c in course %}
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">

        <section style="background-color:{{ c.course_color }};">
          <a href="{{ c.market_page_url }}">
          	<img src="{{ MEDIA_URL }}{{ c.image }}">
            <article>
              <h3>{{ c.name }}</h3>
              <p></p>
            </article>
          </a>
          <a href="{{ c.market_page_url }}" class="opt">查看</a>
        </section>
      </li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block feedback %}
{% endblock %}